@model DoctorViewModel

<h1>CreateDoctor</h1>

<h4>DoctorEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="AddDoctor" method="post">
            <div class="form-group">
                <label for="Name">Name:</label>
                <input type="text" id="Name" name="Name" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="UserName">UserName:</label>
                <input type="text" id="UserName" name="UserName" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" id="Password" name="Password" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="email" id="Email" name="Email" pattern="[a-zA-Z0-9._%+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="Phone">Phone:</label>
                <input type="text" id="Phone" name="Phone" class="form-control" required pattern="[0-9+]+" title="Please enter numbers and the plus sign (+) only" />
            </div>
            <div class="form-group">
                <label for="LocationID">City:</label>
                <select id="LocationID" name="LocationID" class="form-control" required>
                    @foreach (var city in Model.PossibleCities)
                    {
                        <option value="@city.Value">@city.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create Doctor</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index")">Back to List</a>
</div>
