@model DoctorViewModel

@{
    ViewData["Title"] = "EditDoctor";
}

<h1>EditDoctor</h1>

<h4>DoctorEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="@Url.Action("UpdateDoctor", "Home")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" name="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" name="UserName" class="form-control" required />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" name="Password" type="password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" name="Email" class="form-control" required />
                <span asp-validation-for="EMail" class="text-danger"></span>
                <span class="text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" name="Phone" class="form-control" required data-val-phone="Please enter a valid phone number." />
                <span asp-validation-for="Phone" class="text-danger"></span>
                <span class="text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
