@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>E-Commerce system to Control economics of medical services</p>
</div>
<p>
    <a asp-action="AllClients">All Clients</a>
    <a asp-action="AllSuppliers">All Suppliers</a>
    <a asp-action="AllFactories">All Factories</a>
    <a asp-action="AllProducts">All Products</a>
    <a asp-action="CreateNewReceipt">+ New Receipt</a>
    <a asp-action="Report">Report</a>
</p>

<iframe title="MedicalDeliveryServiceReport" width="1200" height="2500" src="https://app.powerbi.com/reportEmbed?reportId=7148ebdb-14fb-40a3-a3f8-5bd871450a5d&autoAuth=true&ctid=2a84e6b3-061a-43ff-a98d-5ba6e3e0272b" frameborder="0" allowFullScreen="true"></iframe>