@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>
    <a asp-action="AllClients">All Clients</a>
    <a asp-action="AllSuppliers">All Suppliers</a>
    <a asp-action="AllFactories">All Factories</a>
    <a asp-action="AllProducts">All Products</a>
    <a asp-action="CreateNewReceipt">+ New Receipt</a>
    <a asp-action="Report">Report</a>
</p>